/* Custom Stylesheet */

.container-fluid{
  margin: 0px auto;
  outline: 1px dotted red;
  width: 375pt;
  display: grid;
  columns: 19px;
  offset: 52px;
}
/* ------INDEX/SPLASH page --------  */
img{
  display: flex;
  width: 100%;
  height: auto;
}
.login-form{
  margin-top: 20pt;
  width: 300pt;
  margin-left: 30pt;
  margin-bottom: 25pt;
}
.login-button{
  margin-top: 20pt;
  margin-bottom: 10pt;
}
.g-signin2{
  width: 200pt;
  margin-top: 20pt;
  margin-bottom: -48pt;
}
.fbauth{
  width: 200pt;
  margin-top: 20pt;
  margin-bottom: 20pt;
  margin-left: 110pt;
}
.signup-button{
  margin-top: 10pt;
} 
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 30px;
}

/* ----SIGN UP --------- */

.mastercontainer{
  width: 375pt;
}
.row-wrap{
  width: 300pt;
  height: 20pt;
}
.header{
  width: 350pt;
  height: 28pt;
  font-family: 14pt;
  text-align: center;
  margin-top: 15pt;
  color: #008080;
  display: inline-block;
}
/* .row img{
  float: left;
  width: 15pt;
  display: inline-block;
  margin-left: 30pt;
  margin-top: 8pt;
} */
.header h4{
  display: inline-block;
  margin-left: -20pt;
  text-align: center;
  vertical-align: middle;
  margin-top: 4pt;
}
.mastercontainer input{
  width: 80pt;
}
.signupform{
  width: 300pt;
  margin-left: 35pt;
  margin-top: 30pt;
}
.signup-header-row img{
  text-align: left;
}
.signup-header-row h4{
  text-align: center;
  margin-left: 125pt;
}

.arrow-img{
  width: 30pt;
  display: inline-block;
}
.col-sm-12 h4{
  text-align: center;
  color: #009A9A;
  display: inline-block;
}

/* ---- USER PROFILE --------- */
.col-sm-12 h4{
  text-align: center;
  color: #009A9A;
}
.jumbotron h1 h3{
  text-align: right;
}
.userimage{
  width: 375pt;
  height: 200pt;
  background-color: white;
  opacity: 50%;
}
.userbio{
  margin: 0px;
  width: 345pt;
  height: 200pt;
  background-color: rosybrown;
  margin-left: 15pt;
}

/* ---- LOCATION --------- */

.lasttripinfo{
  margin-top: 15pt;
  margin-left: 15pt;
  width: 345pt;
  height: 200pt;
  position: relative;
  background-color:rgba(0, 154, 154, 0.45);
}
.lasttripinfo-gradient{
  width: 345pt;
  height: 100pt;
  margin-left: 15pt;
  font-family: helvetica;
  font-weight: lighter;
  background-color: rgba(0, 154, 154, 0.29);
}
.lasttripinfo h4{
  color: white;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 6;
  margin-left: 25pt;
}
.lasttripinfo h5{
  color: white;
  margin-bottom: .5rem;
  font-weight: 500;
  margin-left: 25pt;
  width: 250pt;
}
.lasttripinfo h6{
  color: white;
  margin-bottom: .5rem;
  font-weight: 500;
  margin-left: 25pt;
  width: 250pt;
}

/* ---- USER PROFILE --------- */
.col-sm-12 h4{
  text-align: center;
  margin-top: 5px;
  color: #009A9A;
}
.userimage h3{
  text-align: center;
  margin-top: 5px;
  color: #009A9A;
}
.userimage h5{
  text-align: center;
  color: #009A9A;
}
.img{
  height: 80px;
  width: 60px;
  background-color: #009A9A;
  border: 2px solid black;
  text-align: center;
  margin-top: 5px;
  margin-left: 45%;
}
.userimage p{
  margin-top: 20px;
  text-align: center;
  color: #009A9A;
}
.btn-outline-primary{
margin-left: 200px;
}