<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" ref="text/css" href="{{url_for('static', filename='css/style.css')}}">


</head>
<title>Buddy App</title>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <img src='/static/img/hamburger.png' alt='arrow'>
                <h4>PROFILE</h4>
            </div>
            <div class='userimage'>
            </div>
            <div class='userbio'>

            </div>
            <div class='lasttripinfo'>
                <h4>Your Last Buddy Trip</h4>
                <h5>1 HR Ago</h5>
                <h6>Sing long her way size. Waited end mutual missed myself the little sister one. So in pointed or
                    chicken cheered neither spirits invited.</h6>
            </div>
            <div class='lasttripinfo-gradient'>
            </div>
        </div>