<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Signin Client ID credentials -->
    <meta name="google-signin-client_id"
        content="81314975924-5sg6s42i7nhk0fe3gbdtk4uhgve2b6mh.apps.googleusercontent.com">
    <!-- Materialize CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Files I took from my Login & Regis since the jinja wasn't working -->
    <link rel="stylesheet" ref="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <!-- -- Local CSS -->
    <link rel="stylesheet" ref="text/css" href="{{url_for('static', filename='css/style.css')}}">



    <!-- This is a test for the hide/show feature in jquery -->
    <style>
        span {
            background: #def3ca;
            padding: 3px;
            float: left;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

</head>
<title>Buddy App</title>

<body>
    <div class="container-fluid">
        <div class='row'>
            <div class='col-sm-12'>
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <button class="btn-request btn-large">Request Walk</button>
                            <a href='/available' class="btn-available btn-large">Available to Walk</a>
                        </div>
                    </div>
                    <nav class="navbar navbar-light background-color: white">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a href='/' class='btn btn-outline-danger col-3' value="log out">log out</a>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5>PROFILE</h5>
                </div>
                <div class='userimage'>
                    <img class="profile_pic" src="{{ url_for('static', filename='img/profile_placeholder.jpg') }}"
                        alt="profile_pic">
                    <h3>{{ first_name[0]['first_name'] }} {{ last_name[0]['last_name'] }}</h3>
                    <h5>Location</h5>
                    <p>{{ about[0]['about'] }}</p>
                    <div class="walkers">
                        <a href='/location' class="btn btn-outline-primary btn-hide" value="message">Devon</a>
                        <a href='/location' class="btn btn-outline-secondary btn-hide" value="message">Shawn</a>
                        <a href='/location' class="btn btn-outline-warning btn-hide" value="message">Kaysee</a>
                        <a href='/location' class="btn btn-outline-success btn-hide" value="message">Cam</a>
                    </div>
                </div>

                <!-- This is a test for the hide/show feature in j query -->

                <script>
                    $(document).ready(function () {
                        $('.walkers').hide()
                        $('.negative_red').hide()
                        $('.btn-request').click(function () {
                            $('.walkers').show()
                        });

                        $("#hider").click(function () {
                            $("span:last-child").hide("fast", function () {
                                // Use arguments.callee so we don't need a named function
                                $(this).prev().hide("fast", arguments.callee);
                            });
                        });
                        $("#shower").click(function () {
                            $("span").show(2000);
                        });
                        $('.review_logo').click(function () {
                            $("img").show();
                            console.log("button clicked");
                        })
                        $(".negative").click(function () {
                            document.getElementById('review_section').innerHTML =
                                "Uh no! You're reporting that you've had a negative experience with your buddy.";
                            $(this).attr('src', $(this).attr('data-alt-src'));
                        })
                        $(".neutral").click(function () {
                            document.getElementById('review_section').innerHTML =
                                "Nothing to write home about. Neither a negative or positive experience with my buddy.";
                            $(this).attr('src', $(this).attr('data-alt-src'));
                        })
                        $(".positive").click(function () {
                            document.getElementById('review_section').innerHTML =
                                "Hey you rated your buddy a 10! Tell us more...";
                            $(this).attr('src', $(this).attr('data-alt-src'));
                        })

                    })
                </script>
                {% with messages = get_flashed_messages(category_filter=['review']) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-danger">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class='lasttripinfo'>
                    <h4>Rate Your Last Buddy Trip</h4>
                    <h5>1 HR Ago (Jinja for created at)</h5>
                    <p>Please choose which smiley represents your experience best and leave a review on your latest trip
                        with your buddy:</p>
                    <form action='/review' method='POST'>
                        <div class='review'>
                            <textarea id="review_section" name="message">
                        Tell us how it went...
                        </textarea>
                        </div>
                </div>
                <div class='lasttripinfo-gradient switch'>
                    <img class="review_logo negative switch" src="{{ url_for('static', filename='img/negative.jpeg') }}"
                        data-alt-src="{{ url_for('static', filename='img/negative_red.jpeg') }}" alt="sad_face">
                    <img class="review_logo neutral switch" src="{{ url_for('static', filename='img/neutral.jpeg') }}"
                        data-alt-src="{{ url_for('static', filename='img/neutral_yellow.jpeg') }}" alt="neutral_face">
                    <img class="review_logo positive switch" src="{{ url_for('static', filename='img/positive.jpeg') }}"
                        data-alt-src="{{ url_for('static', filename='img/positive_green.jpeg') }}" alt="happy_face">
                </div>
                <input type=submit class="btn btn-warning" value="Submit">
                </form>
            </div>
        </div>











        <!-- Required scripts for Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>
        <!-- Sidenav Scrip -->
        <script src="assets/sidenav.js"></script>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>


</body>

</html>